body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('wallpaper.png') no-repeat center center fixed;
    background-size: cover;
    animation: moveBackground 120s linear infinite;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 250px;
    height: 250px;
    background: url('buttonIMG.jpg') no-repeat center center;
    background-size: contain;
    border: none;
    border-radius: 50%; /* Make the button circular */
    cursor: pointer;
    background-color: #003048; /* Slightly present dark blue background color */
    transition: transform 1s ease, background-color 1s ease; /* Add transition for 'transform' and 'background-color' properties */
    animation: glow 6s infinite alternate, pulse 7s infinite; /* Apply both glow and pulse animations */
}

button:active {
    transform: scale(0.7); /* Decrease size by 10% on click */
}

button.music-playing {
    background-color: #0057b3; /* Darker blue background color when music is playing */
}

@keyframes glow {
    to {
        box-shadow: 0 0 50px 20px #0057b3; /* Glowing effect color */
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* Center the volume slider under the button */
input[type="range"] {
    margin-top: 50px; /* Adjust the margin as needed */
}