body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-image: url('./src/imgs/minimalist.png'); /* Set your default image here */
    animation: moveBackground 120s linear infinite;
    transition: background-image 1s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Common styles for buttons */
button {
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

/* Play button styles */
#playButton {
    width: 250px;
    height: 250px;
    background: url('./src/imgs/buttonIMG.jpg') no-repeat center center;
    background-size: contain;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #003048;
    transition: transform 1s ease, background-color 1s ease;
    animation: glow 6s infinite alternate, pulse 7s infinite;
}

#playButton:active {
    transform: scale(0.7);
}

#playButton.music-playing {
    background-color: #009eb3;
}

/* Previous and Next button styles */
#previousButton {
    margin-top: 50px;
    margin-right: 20px;
    width: 80px;
    height: 30px;
    background-color: #003048;
    color: #fff;
    background: url('./src/imgs/energySword.jpeg') no-repeat center center;
    background-size: cover;
    transform: rotate(180deg); /* Rotate the image 180 degrees */
}
#nextButton {
    margin-top: 50px;
    margin-left: 20px;
    width: 80px;
    height: 30px;
    background-color: #003048;
    color: #fff;
    background: url('./src/imgs/energySword.jpeg') no-repeat center center;
    background-size: cover;
}

#previousButton:hover,
#nextButton:hover {
    background-color: #0057b3;
}

@keyframes glow {
    to {
        box-shadow: 0 0 50px 20px #0057b3;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

input[type="range"] {
    margin-top: 50px;
}

/* Timer display styles */
#timerDisplay {
    margin-top: 10px; /* Adjust margin as needed */
    color: white; /* Set text color to white */
    font-family: Arial, sans-serif; /* Set font family */
    font-size: 32px; /* Set font size */
    font-weight: bold; /* Set font weight to bold */
    text-shadow: 2px 2px 4px rgba(150, 105, 180, 1); /* Add text shadow for contrast */
    text-align: center; /* Center-align the text */
    animation: timerPulse 1s infinite; /* Add pulse animation */
}

#timerDisplay::before {
    animation: timerPulse 10s infinite;
}

@keyframes timerPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}
